# Sets

In [8]:
mySet = set()
mySet.add(1)
print(type(mySet))
print(len(mySet))
print(mySet)

<class 'set'>
1
{1}

In [10]:
mySet.update((2,3,"python"))
print(type(mySet))
print(len(mySet)) 
print(mySet)

<class 'set'>
4
{1, 2, 3, 'python'}

In [11]:
mySet.add(1)
mySet.add(1)
mySet.add(1)
mySet.add(2)
mySet.add(2)
print(type(mySet))
print(len(mySet)) 
print(mySet)

<class 'set'>
4
{1, 2, 3, 'python'}

In [1]:
mySet = set()
print(type(mySet))
print(len(mySet)) 
print(mySet)

<class 'set'>
1
{1}

### Métodos de sets

## add
Sirve para agregar un elemento al set

In [5]:
mySet = set()

print(type(mySet))
print(len(mySet)) 
print(mySet,"\n")

mySet.add(1)
mySet.add(2)

print(type(mySet))
print(len(mySet)) 
print(mySet)

<class 'set'>
0
set()

<class 'set'>
2
{1, 2}

### clear
Remueve todos los elementos del set

In [7]:
print(type(mySet))
print(len(mySet)) 
print(mySet,"\n")

mySet.clear()

print(type(mySet))
print(len(mySet)) 
print(mySet)

<class 'set'>
2
{1, 2}

<class 'set'>
0
set()

### copy
Copia los elemetos en un nuevo set

In [9]:
mySet = {1,2,3,4,5,6}
mySet2 = mySet.copy()

print(type(mySet))
print(len(mySet)) 
print(mySet,"\n")

print(type(mySet2))
print(len(mySet2)) 
print(mySet2,"\n")

<class 'set'>
6
{1, 2, 3, 4, 5, 6}

<class 'set'>
6
{1, 2, 3, 4, 5, 6}

### difference
Obtinene los valores presentes en el primer set y faltantes en el segundo set

In [12]:
set1 = {1,3,4,8,6,0}
set2 = {1,2,4,10,7}

#Valores que hay en el set1 pero que no estan en set2
print(set1.difference(set2))

#Valores que hay en el set2 pero que no estan en set1
print(set2.difference(set1))

{0, 8, 3, 6}
{2, 10, 7}

### difference_update
Conserva sólo los valores diferentes en el set solicitado y el que es mandado como parámetro

In [14]:
set1 = {1,3,4,8,6,0}
set2 = {1,2,4,10,7}
set1.difference_update(set2)
print(set1)

{0, 3, 6, 8}

In [15]:
set2.difference_update(set1)
print(set2)

{1, 2, 4, 7, 10}

### discard
Elimina un elemento del set si está presente

In [16]:
set1 = {1,3,4,8,6,0}
print(set1, "\n")

#No es importante que el elemento esté presente
set1.discard(0)

print(set1)

{0, 1, 3, 4, 6, 8}

{1, 3, 4, 6, 8}

### intersection
Obtine los valores en común en dos set

In [17]:
set1 = {2,3,4,5,6}
set2 = {1,2,3,4,5,6}
print(set1.intersection(set2))

{2, 3, 4, 5, 6}

### intersection_update
Obtine los valores en común y los asigna al set que llama el método

In [22]:
set1 = {2,3,4,5,6,10,33,25,-12,9}
set2 = {1,2,3,4,5,6}
set1.intersection_update(set2)
print(set1)

{2, 3, 4, 5, 6}

### isdisjoint
True: Si no hay valores compartidos por ambos sets

False: Si hay por lo menos un valor compartido por ambos sets

In [23]:
set1 = {0,-1}
set2 = {1,2,3,4,5,6}

print(set1.isdisjoint(set2))

False

In [24]:
set1 = {0,-1}
set2 = {1,2,3,4,5,6}

print(set1.isdisjoint(set2))

True

### issubset
True: Si todos los valores del set llamado están en el set pasado como parámetro

In [25]:
set1 = {1,8}
set2 = {1,2,8}
print(set1.issubset(set2))

True

In [27]:
set1 = {1,8,9}
set2 = {1,2,8}
print(set1.issubset(set2))

False

### issuperset
Opuesto a issubset

Analiza si todos los valores del set pasado como parámetro están en el set llamado

In [28]:
set1 = {1,8}
set2 = {1,2,8}

print(set2.issuperset(set1))

True

### pop
Elimina el primer elemento del set

In [29]:
set2 = {1,2,8}
print(set2.pop())

8

In [30]:
print(set2.pop())

1

In [31]:
print(set2.pop())

2

In [32]:
#Si el set está vacio da error
print(set2.pop())

KeyError: 'pop from an empty set'

### remove
Elimina el elemento como parámetro, sino se encuentrá dará error

In [35]:
set2 = {1,2,8}
set2.remove(2)
print(set2)

{8, 1}

In [36]:
set2.remove(9)
print(set2)

KeyError: 9

### union
Combina 2 sets

In [37]:
set1 = {2,4,6}
set2 = {1,3,7}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 6, 7}

### update
añade los valores del set pasado como parámetro al set llamado

In [38]:
set1 = {2,4,6}
set2 = {1,3,7}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 6, 7}

### symmetric_difference
Obtiene las diferencias en ambos sets

In [40]:
set1 = {2,4,6}
set2 = {1,3,7}

print(set1.symmetric_difference(set2))

{1, 2, 3, 4, 6, 7}

### symmetric_difference_update
Obtiene las diferencias de ambos sets y asigna los valores al set llamado

In [41]:
set1 = {2,4,6}
set2 = {1,3,7}

set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 3, 4, 6, 7}

# Conversión de Sets

## String a set

In [1]:
frase = 'Backend Python'
set1 = set()

print(frase)
print(set1)

set1 = set(frase)
print(set1)

Backend Python
set()
{'B', 'n', 't', 'y', 'k', 'e', 'h', 'd', ' ', 'P', 'o', 'a', 'c'}

## lista a set

In [2]:
lista = [1,2,2,3,3,3,4,4,4,4,5,5,5,5,5]
set1 = set()

print(lista)
print(set1)

set1 = set(lista)
print(set1)

[1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5]
set()
{1, 2, 3, 4, 5}

## tupla a set

In [3]:
tupla = 1,2,2,3,3,3,4,4,4,4,5,5,5,5,5
set1 = set()

print(tupla)
print(set1)

set1 = set(tupla)
print(set1)

(1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5)
set()
{1, 2, 3, 4, 5}

## set a string

In [8]:
set1 = {'B', 'n', 't', 'y', 'k', 'e', 'h', 'd', ' ', 'P', 'o', 'a', 'c'}
string = ''

print(set1)
print(string)

string = "".join(set1)
print(string)

{'B', 't', 'n', 'y', 'k', 'e', 'h', 'd', ' ', 'P', 'o', 'a', 'c'}

Btnykehd Poac

## set a lista

In [9]:
set1 = {1, 2, 3, 4, 5}
lista = []

print(set1)
print(lista)

lista = list(set1)
print(lista)

{1, 2, 3, 4, 5}
[]
[1, 2, 3, 4, 5]

## set a tupla

In [10]:
set1 = {1, 2, 3, 4, 5}
tupla = ()

print(set1)
print(tupla)

tupla = tuple(set1)
print(tupla)

{1, 2, 3, 4, 5}
()
(1, 2, 3, 4, 5)